.fixed_wrapper {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  text-align: center;
  align-content: center;
  background-color: rgba(0,0,0,0.8);
  z-index: 999;
}

.relative_wrapper {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.image {
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 80vh;
  transform: translate(-50%, -50%);
  object-fit: cover;
}